<html>
    <body>
        <table>
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>CNPJ</td>
                    <td>Email</td>
                    <td>Senha</td>
                    <td>Cidade</td>
                    <td>Estado</td>
                    <td>CEP</td>
                    <td>Telefone</td>
                    <td>Site</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mateus e Flávia Comercio de Bebidas ME</td>
                    <td>12.364.517/0001-49</td>
                    <td>396.679.967-78</td>
                    <td>mariane-peixoto80@maiamaquinas.com.br</td>
                    <td>06081976</td>
                    <td>Bauru</td>
                    <td>SP</td>
                    <td>17027-460</td>
                    <td>(14)3592-4137</td>
                    <td>www.mateuseflaviacomerciodebebidasme.com.br</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>