    <div class="container-fluid">
      <div class="row">
        <div class="col col-lg-6">
            <h1><i class="fas fa-home"></i>DAFONSEARCH</h1>
        </div>
         <div class="col col-lg-6 menu-right-icon">
            <p class="icon-space">Follow me:</p>
            <a href="https://github.com/Daniel-Fonseca-da-Silva" class="icon-space"><i class="fab fa-github-square"></i></a>
            <a href="https://www.linkedin.com/in/daniel-f-s-developer" class="icon-space"><i class="fab fa-linkedin"></i></a>
            <p class="icon-space">000<i class="fas fa-long-arrow-down"></i></p>
            <p class="icon-space">EMAIL: <a href="#" class=""><i class="far fa-envelope"></i></a></p>
            <a href="#" class="icon-space"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-2">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Buscar<i class="fas fa-search"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cadastramento<i class="fas fa-user-plus"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gerenciamento<i class="fas fa-wrench"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col col-lg-10">
                <div class="container-fluid menu-footer">
                    <div class="row">
                        <div class="col col-lg-6">
                            <p class="footer-text">Created with <a href="https://rubyonrails.org">ROR</a> by <a href="https://www.linkedin.com/in/daniel-f-s-developer/">Daniel</a> made with <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/">bootstrap.</a></p>
                        </div>
                        <div class="col col-lg-6">
                           <nav class="navbar navbar-expand">
                               <ul class="nav navbar-nav">
                                   <li class="nav-item">
                                    <a class="nav-link" href="https://github.com/Daniel-Fonseca-da-Silva"><i class="fab fa-github-square icon-size"></i></a>
                                   </li>
                                   <li class="nav-item">
                                    <a class="nav-link" href="https://www.linkedin.com/in/daniel-f-s-developer"><i class="fab fa-linkedin icon-size"></i></a>
                                   </li>
                               </ul>
                           </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  