<html>
    <body>
        <table>
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Sobrenome</td>
                    <td>CPF</td>
                    <td>Email</td>
                    <td>Sexo</td>
                    <td>Nascimento</td>
                    <td>Senha</td>
                    <td>Cidade</td>
                    <td>Estado</td>
                    <td>CEP</td>
                    <td>Telefone</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mariane</td>
                    <td>Yasmin Peixoto</td>
                    <td>396.679.967-78</td>
                    <td>mariane-peixoto80@maiamaquinas.com.br</td>
                    <td>Feminino</td>
                    <td>06/08/1976</td>
                    <td>FxFREK5qFM</td>
                    <td>Aparecida de Goiânia</td>
                    <td>GO</td>
                    <td>74964-512</td>
                    <td>(62)3922-5576</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>