.menu-right-icon {
    display: flex;
    align-items: center;
    justify-content: right;
}

.icon-space {
    padding-right: 10px;
}

.menu-footer {
    background-color: #444;
}

.footer-text {
    color: white;
    font-size: 3rem;
    margin: 0;
    padding-top: 4%;
}

.icon-size {
    font-size: 5rem;
    color: white;
}
