.paginacao-table {
    background-color: #666;
}

.card-title {
    margin: 0;
    padding: 20px;
    background-color: #666;
    text-align: center;
    color: white;
}

.paginacao-table {
    text-align: center;
}

.pagination {
    padding-top: 5px;
    margin: 15px;
}