<html>
    <body>
        <table>
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Descricao</td>
                    <td>Categoria</td>
                    <td>Numero</td>
                    <td>Estado</td>
                    <td>Bairo</td>
                    <td>Cidade</td>
                    <td>Cep</td>
                    <td>Telefone</td>
                    <td>Site</td>
                    <td>Email</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Renan e Carla Padaria Ltda</td>
                    <td>Padaria com bolos caseiros e massas</td>
                    <td>Padaria</td>
                    <td>521</td>
                    <td>RJ</td>
                    <td>Tijuca</td>
                    <td>Rio de Janeiro</td>
                    <td>17031-593</td>
                    <td>(14)3761-1661</td>
                    <td>www.renanecarlapadarialtda.com.br</td>
                    <td>compras@renanecarlapadarialtda.com.br</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>